{% assign all_pages = site.pages | where: "layout", "default" | sort: "nav_order" %}
{% assign this_index = all_pages | index: page %}

<div style="margin-top: 2em; border-top: 1px dashed #ccc; padding-top: 1em;">
  {% if this_index > 0 %}
    上一篇：
    <a href="{{ all_pages[this_index | minus: 1].url }}">
      {{ all_pages[this_index | minus: 1].title }}
    </a><br>
  {% endif %}

  {% if this_index < all_pages.size | minus: 1 %}
    下一篇：
    <a href="{{ all_pages[this_index | plus: 1].url }}">
      {{ all_pages[this_index | plus: 1].title }}
    </a>
  {% endif %}
</div>




